In [84]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

from sklearn.metrics import accuracy_score, classification_report

import joblib

pip install pandas numpy scikit-learn joblib

In [ ]:
df = pd.read_csv("titanic.csv")
# print(df.head())
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [ ]:
df.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

mean
median
mode

In [55]:
a = [1,2,3,4,5,6,7,8,9,10]
mean = 5
median = 5.5
mode = 4.5# eng ko'p tsakrorlangan

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [57]:
df.keys()

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [58]:
X = df.drop(columns=["survived", "name", "ticket", "cabin", "body", "boat"])
y = df["survived"]
X

,pclass,sex,age,sibsp,parch,fare,embarked,home.dest
0,1,female,29.00,0,0,211.3375,S,"St Louis, MO"
1,1,male,0.92,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
2,1,female,2.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
3,1,male,30.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
4,1,female,25.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...
1304,3,female,14.50,1,0,14.4542,C,NaN
1305,3,female,NaN,1,0,14.4542,C,NaN
1306,3,male,26.50,0,0,7.2250,C,NaN
1307,3,male,27.00,0,0,7.2250,C,NaN
1308,3,male,29.00,0,0,7.8750,S,NaN

In [59]:
X.head()

,pclass,sex,age,sibsp,parch,fare,embarked,home.dest
0,1,female,29.00,0,0,211.3375,S,"St Louis, MO"
1,1,male,0.92,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
2,1,female,2.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
3,1,male,30.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
4,1,female,25.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"

In [60]:
numeric_features = ["age", "fare", "sibsp", "parch"]
categorical_features = ["sex", "embarked", "home.dest"]

In [61]:
numeric_transformer = Pipeline(steps=[
    ("scaler", StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ("onehot", pd.get_dummies)
])

In [62]:
# Missing values
X["age"] = X["age"].fillna(X["age"].median(), inplace=True)
X["embarked"] =X["embarked"].fillna(X["embarked"].mode()[0], inplace=True)
X["home.dest"] = X["home.dest"].fillna(X["home.dest"].mode()[0], inplace=True)
X["fare"] = X["fare"].fillna(X["fare"].mode()[0], inplace=True)
# One-hot encoding
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   sex        1309 non-null   object
 2   age        0 non-null      object
 3   sibsp      1309 non-null   int64
 4   parch      1309 non-null   int64
 5   fare       0 non-null      object
 6   embarked   0 non-null      object
 7   home.dest  0 non-null      object
dtypes: int64(3), object(5)
memory usage: 81.9+ KB

In [63]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   sex        1309 non-null   object
 2   age        0 non-null      object
 3   sibsp      1309 non-null   int64
 4   parch      1309 non-null   int64
 5   fare       0 non-null      object
 6   embarked   0 non-null      object
 7   home.dest  0 non-null      object
dtypes: int64(3), object(5)
memory usage: 81.9+ KB

In [64]:
X = pd.get_dummies(X, columns=categorical_features, drop_first=True)

# Scaling
scaler = StandardScaler()
X[numeric_features] = scaler.fit_transform(X[numeric_features])

d:\Python\python_darslari\venv\Lib\site-packages\sklearn\utils\extmath.py:1207: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
d:\Python\python_darslari\venv\Lib\site-packages\sklearn\utils\extmath.py:1212: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
d:\Python\python_darslari\venv\Lib\site-packages\sklearn\utils\extmath.py:1236: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [71]:
X.all()

pclass       True
age          True
sibsp        True
parch        True
fare         True
sex_male    False
dtype: bool

In [72]:
X.head()

   pclass  age     sibsp     parch  fare  sex_male
0       1  NaN -0.479087 -0.445000   NaN     False
1       1  NaN  0.481288  1.866526   NaN      True
2       1  NaN  0.481288  1.866526   NaN     False
3       1  NaN  0.481288  1.866526   NaN      True
4       1  NaN  0.481288  1.866526   NaN     False

In [73]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [74]:
from sklearn.linear_model import LogisticRegression

In [75]:
X

      pclass  age     sibsp     parch  fare  sex_male
0          1  NaN -0.479087 -0.445000   NaN     False
1          1  NaN  0.481288  1.866526   NaN      True
2          1  NaN  0.481288  1.866526   NaN     False
3          1  NaN  0.481288  1.866526   NaN      True
4          1  NaN  0.481288  1.866526   NaN     False
...      ...  ...       ...       ...   ...       ...
1304       3  NaN  0.481288 -0.445000   NaN     False
1305       3  NaN  0.481288 -0.445000   NaN     False
1306       3  NaN -0.479087 -0.445000   NaN      True
1307       3  NaN -0.479087 -0.445000   NaN      True
1308       3  NaN -0.479087 -0.445000   NaN      True

[1309 rows x 6 columns]

In [ ]:
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)

lr_pred = lr.predict(X_test)
lr_acc = accuracy_score(y_test, lr_pred)

print("Logistic Regression Accuracy:", lr_acc)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [77]:
rf = RandomForestClassifier(
    n_estimators=200,
    random_state=42
)
rf.fit(X_train, y_train)

rf_pred = rf.predict(X_test)
rf_acc = accuracy_score(y_test, rf_pred)

print("Random Forest Accuracy:", rf_acc)

Random Forest Accuracy: 0.7557251908396947

In [ ]:
svm = SVC(kernel="rbf", probability=True)
svm.fit(X_train, y_train)

svm_pred = svm.predict(X_test)
svm_acc = accuracy_score(y_test, svm_pred)

print("SVM Accuracy:", svm_acc)

ValueError: Input X contains NaN.
SVC does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [79]:
results = pd.DataFrame({
    "Model": ["Logistic Regression", "Random Forest", "SVM"],
    "Accuracy": [lr_acc, rf_acc, svm_acc]
})

print(results.sort_values(by="Accuracy", ascending=False))

NameError: name 'lr_acc' is not defined

In [80]:
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

cm = confusion_matrix(y_test, rf_pred)

sns.heatmap(cm, annot=True, fmt="d", cmap="Blues")
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.title("Confusion Matrix - Random Forest")
plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [2]:
import joblib

model = joblib.load("random_forest_model.pkl")
scaler = joblib.load("scaler.pkl")

FileNotFoundError: [Errno 2] No such file or directory: 'random_forest_model.pkl'

In [1]:
sample_passenger = {
    "Pclass": 3,
    "Sex": "male",
    "Age": 22,
    "SibSp": 1,
    "Parch": 0,
    "Fare": 7.25,
    "Embarked": "S"
}

sample_df = pd.DataFrame([sample_passenger])

# One-hot encoding (train bilan mos bo‘lishi shart!)
sample_df = pd.get_dummies(sample_df)

# Yo‘q ustunlarni qo‘shamiz
for col in X_train.columns:
    if col not in sample_df.columns:
        sample_df[col] = 0

sample_df = sample_df[X_train.columns]

# Scale
sample_df[numeric_features] = scaler.transform(sample_df[numeric_features])

prediction = model.predict(sample_df)
probability = model.predict_proba(sample_df)

print("Survived:", "YES" if prediction[0] == 1 else "NO")
print("Probability:", probability)

NameError: name 'pd' is not defined